/* YourComponent.css */

/* For extra-small (xs) screens */
.responsive-image {
    width: 140px !important;
    height: 80px !important;
  }
  
  /* For medium (md) screens and larger */
  @media (min-width: 768px) {
    .responsive-image {
      width: 90px;
      height: 80px;
    }
  }
  